.home-img .img-box {
     position: relative;
     width: 32vw;
     height: 32vw;
     border-radius: 50%;
     padding: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
}

.home-img .img-box::before, .home-img .img-box::after {
     content: '';
     position: absolute;
     width: 500px;
     height: 500px;
     background: conic-gradient(transparent, transparent, transparent, #00B4A4);
     transform: rotate(0deg);
     animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
     animation-delay: -5s;
}

@keyframes rotate-border {
     100% {
          transform: rotate(360deg);
     }
}

.home-img .img-box .img-item {
     position: relative;
     width: 100%;
     height: 100%;
     background: white;
     border-radius: 50%;
     border: .1px solid white;
     display: flex;
     justify-content: center;
     z-index: 1;
     overflow: hidden;
}

.home-img .img-box .img-item img {
     position: absolute;
     top: -23px;
     display: block;
     width: 85%;
     object-fit: cover;
     /* mix-blend-mode: lighten; */
}